# MongoDB Password, Don't expose this to the public lmao
MONGOPASS=""
# Server port, dev is 3000, prod will varies
PORT=3000
# Panel Admin Password, put wutever here during development.
ADMINPASS="admin123"