<!DOCTYPE html>
<html>
    <head>Admin</head>
    <body>
        <!--POST-->
        <main>
          <div>
            <form action="/admin" method="post">
                <input type="text" name="name" placeholder="username">
                <input type="text" name="date" placeholder="date">
                <textarea placeholder="description"></textarea>
            </form>
          </div>
        </main>
        <!--GET-->
    </body>
</html>