<!DOCTYPE html>
<html>
    <head>
      <title>Admin</title>
      <!-- <link rel="stylesheet" href="css/meme.css"> -->
    </head>
    <body>
        <!--POST-->
        <main>
          <h1>Admin</h1>
          <div>
            <form action="/admin" method="post" class="inputForm">
                <input type="text" name="name" placeholder="Event Name">
                <input type="text" name="date" placeholder="Event Date">
                <textarea name="description" placeholder="Description"></textarea>
                <input type="submit" value="Submit">
            </form>
          </div>
        </main>
        <!--GET-->
    </body>
</html>