<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/styles.css">
      <script src="./script.js" defer></script>
      <title>Admin</title>
      <!-- <link rel="stylesheet" href="css/meme.css"> -->
   </head>
   <body>
      <!--POST-->
      <main>
         <h1>Admin</h1>
         <h2>Post</h2>
         <div>
            <form action="/admin" method="post" class="inputForm">
               <input type="text" name="name" placeholder="Event Name"><br>
               <input type="text" name="date" placeholder="Event Date"><br>
               <textarea name="description" placeholder="Description"></textarea><br>
               <input type="submit" value="Submit">
            </form>
          </div>
        </main>
        <br>
        <br>

        <!--GET-->
        <div class="search-wrapper">
          <label for="search">Search Events</label>
          <input type="search" id="search">
          <div class="event-cards"></div>
          <template event-card-template>
             <div class="card">
                <div class="header" data-header></div>
                <div class="body">
                   <p class="description" data-description></p>
                   <p class="date" data-date></p>
                   <button class="btn edit-button" edit-button>Edit</button>
                   <button class="btn delete-button" delete-button>Delete</button>
                </div>
             </div>
          </template>    
       </div>
 
       <div id="editModal" class="modal">
          <div class="modal-content">
            <span class="close" id="editClose">&times;</span>
            <p>Edit modal!</p>
          </div>
        </div>
 
        <div id="deleteModal" class="modal">
          <script>
          </script>
          <div class="modal-content">
            <span class="close" id="deleteClose">&times;</span>
            <p>Delete modal!</p>
          </div>
    </body>
</html>