<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Admin Panel - ACM</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/adminPanel.css">
</head>
<body>
    <main>
        <div class="container">
          <h1 class="title">Admin Panel</h1>
          <h2 class="subtitle" onclick="changeEvent()">Create New Event</h2>
          <div id="form_div">
            <form class="form" id="event_form" action="/admin" method="post">
              <label>Event Title</label>
              <input type="text" id="name" name="name" placeholder="Event Name">
              <label>Event Date</label>
              <input type="date" id="date" name="date" placeholder="Event Date">
              <label>Event Time</label>
              <input type="time" id="time" name="time" placeholder="Event Time">
              <label>Event Description</label>
              <textarea id="description" name="description" placeholder="Description"></textarea>
              <label>Event Image</label>
              <input type="file" id="image" name="image" placeholder="Event Image">
              <input class="btn" type="submit" value="Submit" onclick="submitEvent(event)">
            </form>
          </div>
        </div>
      </main>
    <script src="js/script.js"></script>
</body>
</html>

<!--   this html is migrated from jose's html file, i will implement it after a commit (must)
  <div>
        <h2>Delete Event</h2>
        <form action="/deleteEvent" method="POST">
            <div><strong>Select Event:
                <select name="eventId" required>
                     Populate this dropdown dynamically with existing events <- this is a comment
                  </select>
                </strong></div><br><br>
    
                <div>
                    <button type="submit">Delete</button>
                </div>
            </form>
        </div>
      -->