<!DOCTYPE html>
<html>
    <head>Admin</head>
    <body>
        <!--POST-->
        <!--GET-->
        <div>
            <form id="form" action="/admin/search" method="get" style="display: inline;"> 
                <input type="search" id="query" name="request" placeholder="Search...">
                <button>Submit</button>     
            </form> 
            <select name="actionEvent" id="actionEvent"> 
                <option value="editEvent">Edit</option> 
                <option value="deleteEvent">Delete</option> 
            </select>
        </div>
    </body>
</html>