<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/public/css/edit.css">
      <script src="/public/js/editScript.js" defer></script>
      <title>Document</title>
   </head>
   <body>
      <div class="search-wrapper">
         <label for="search">Search Events</label>
         <input type="search" id="search">
         <div class="event-cards"></div>
         <template event-card-template>
            <div class="card">
               <div class="header" data-header></div>
               <div class="body">
                  <p class="description" data-description></p>
                  <p class="date" data-date></p>
                  <button class="btn edit-button" data-button-type="edit" onclick="openEditModal()">Edit</button>
               </div>
            </div>
         </template>
   
      </div>

      <div id="editModal" class="modal">
         <div class="modal-content">
           <span class="close" id="editClose">&times;</span>
           <p>Edit modal!</p>
         </div>
       </div>

         <script src="/public/js/editScript.js"></script>
   </body>
   
      
    
</html>