<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GBM - ACM</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/gbm.css">
</head>
<body>
	<div id="events">
	</div>
	<script src="js/script.js"></script>
	<script src="js/eventParse.js"></script>
</body>
<!-- 
	idk what frontend looks like so if we want to condense this into another doc someone do it or lmk
	~Ali C
-->
</html>