/* rough css ill leave it for a front end peep to clean :) */
.eventContainer {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-top: 10px;
	width: 50%;
	text-align: center;
}
#events {
	display: flex;
	flex-direction: column;
	align-items: center;
}