.centerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerContainer .box {
    text-align: center;
    border: 1px solid #333;
    border-radius: 15px;
    color: white;
    padding: 20px;
    /* box-shadow: 5px 5px 5px #ccc; */
    background-color: #333;
}
.centerContainer .box h2 {
    margin: 0;
    margin-bottom: 2rem;
}
/* Make the input look bigger and nicer with minimum width of 10px */
.centerContainer form input {
    padding: 10px;
    width: 100vw;
    color: white;
    border: 1px solid #595959;
    background-color: #595959;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 30rem;
    min-width: 10rem;
}